@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header .logo
{
    display: flex;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 40px 80px;
    text-decoration: none;
    color: #111;
    font-weight: 600;
}
header ul
{
    display: flex;
    position: relative;
}
header ul li
{
    list-style: none;
    display: flex;
    margin: 0 15px;
}
header ul li a
{
    color: #111;
    text-decoration: none;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url('../bg1.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}