@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
header .logo
{
    color: #111;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.5s;
}
header .logo:hover
{
    color: rgb(125, 155, 255);
    letter-spacing: 3px;
    font-size: 25px;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header ul
{
    display: flex;
    position: relative;
    padding: 15px 100px;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    margin: 0 15px;
    display: inline-block;
    color: #111;
    text-decoration: none;
    position: relative;
    transition: 0.5s;
}
header ul li a:hover
{
    color: #fff;
}
* {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("bg1.jpg");
  
    /* Add the blur effect */
    filter: blur(3px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 3em;
  }
  .bg-text h1
  {
    font-weight: 500;
    transition: 0.5s;
  }
  .bg-text h1:hover
  {
      letter-spacing: 2px;
  }
  .btn {
    background-color: #4c82af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    border-radius: 15px;
    justify-content: center;
    position: absolute;
  }